  /* Ryan Ramadhan || FSW 6 */

  /* Navbar */
  #navbar {
    background-color: #f1f3ff;
    position: fixed;
  }

  #navbar .container {
    padding: 15px 20px;
  }

  #navbar .logo_nav {
    margin-left: 10px;
    width: 100px;
    height: 34px;
  }

  .menu-icon {
    margin-left: 20px;
    margin-top: 7px;
    width: 25px;
    cursor: pointer;
    display: none;
  }

  #navbar .nav-link {
    font-size: 14px;
    line-height: 20px;
    padding-right: 25px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
  }

  #navbar .nav-link:hover {
    color: #000000;
    font-weight: 700;
  }

  #navbar .btn {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

    background: #5CB85F;
    border-color: #5CB85F;
    width: 81px;
    height: 36px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
  }

  /* Navbar */

  /* content desc sewa binar car rental */
  #desc_sewa {
    background-color: #f1f3ff;
    height: 500px;
  }

  #desc_sewa .container {
    width: 100%;
    display: flex;
  }

  #desc_sewa .kiri {
    width: 50%;
    margin-left: 20px;
    margin-top: 177px;
    margin-right: 32px;
  }

  #desc_sewa h1 {
    color: #000000;
    width: 568px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
  }

  #desc_sewa p {
    color: #000000;
    width: 468px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }

  #desc_sewa .btn {
    background: #5CB85F;
    border-color: #5CB85F;
    width: 145px;
    height: 36px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
  }

  #desc_sewa .kanan {
    width: 50%;
    position: relative;
    right: 0;
  }

  #desc_sewa .bg-mobil {
    background: #0D28A6;
    position: absolute;
    width: 704px;
    height: 243px;
    border-radius: 60px 0px 0px 0px;
    bottom: 5px;
    z-index: 1;
    /* left: 70px; */
  }

  #desc_sewa .img-mobil {
    position: relative;
    width: 704px;
    height: 407px;
    z-index: 100;
    margin-top: 97px;
    /* left: 70px; */
  }

  /* content desc sewa binar car rental */

  /* content our service*/
  #our_service {
    height: 550px;
  }

  #our_service .utama {
    display: flex;
  }

  #our_service .kiri {
    width: 568px;
    margin-right: 32px;
    margin-top: 104px;
    margin-left: 106px;
  }

  #our_service .img_our_service {
    width: 459px;
    height: 428px;
  }

  #our_service .kanan {
    margin-top: 140px;
  }

  #our_service h1 {
    color: #000000;
    width: 468px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  #our_service p {
    color: #000000;
    width: 468px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
  }

  .kalimatCeklis {
    display: flex;
    margin-bottom: 6px;
  }

  #our_service .parag {
    margin-top: 2.5px;
  }

  #our_service .bulatCeklis {
    background-color: #CFD4ED;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    padding: 2px 0px;
  }

  #our_service .bi {
    color: #0D28A6;
    font-size: 20px;
    align-items: center;
    text-align: center;
  }

  #our_service .bi::before,
  [class^="bi-"]::before,
  [class*=" bi-"]::before {
    vertical-align: 0.125em;
  }

  /* content our service */

  /* content why us */
  #why_us {
    height: 382px;
  }

  #why_us .container {
    padding-top: 122px;
  }

  #why_us h1 {
    color: #000000;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
  }

  #why_us p {
    color: #000000;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }

  #why_us .atas {
    margin-left: 20px;
  }

  #why_us .bawah {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    position: static;
    width: 290px;
    height: 196px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 20px;
  }

  #why_us .icon {
    width: 32px;
    height: 32px;
  }

  #why_us h2 {
    color: #000000;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0px;
  }

  #why_us .Konten {
    color: #000000;
    width: 220px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }

  /* content why us */

  /* testimonial */
  #testi {
    height: 560px;
  }

  #testi .container-fluid {
    padding-top: 100px;
  }

  #testi h1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
  }

  #testi p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
  }

  .bi-chevron-left::before,
  .bi-chevron-right::before {
    vertical-align: inherit;
    padding: 8px;
    border-radius: 32px;
  }

  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    border-radius: 32px;
    border: solid 1px #c4c4c4;
    margin-right: 24px;
  }

  .owl-carousel .owl-nav button.owl-next:hover,
  .owl-carousel .owl-nav button.owl-prev:hover {
    background-color: #5CB85F;
    margin-right: 26px;
    border: none;
  }

  #testi .item {
    width: 619px;
    height: 270px;
    background: #F1F3FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display: flex;
  }

  #testi .img_testi {
    width: 80px;
    height: 80px;
    margin: 95px 46px;
  }

  #testi .testimoni {
    margin: 69px 32px 69px 0px;
  }

  #testi .checked {
    color: #F9CC00;
  }

  #testi .kata {
    color: #000000;
    width: 415px;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0px;
  }

  #testi .nama {
    color: #000000;
    width: 500px;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0px;
  }

  /* testimonial */

  /* mulai sewa */
  #mulai_sewa {
    height: 326px;
    width: 100%;
  }

  #mulai_sewa .container {
    background: #0D28A6;
    height: 326px;
    margin-top: 50px;
    border-radius: 13px;
    text-align: center;
    padding-top: 64px;
  }

  #mulai_sewa h1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
  }

  #mulai_sewa p {
    color: #FFFFFF;
    text-align: center;
    width: 468px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
  }

  #mulai_sewa .btn {
    background: #5CB85F;
    border-color: #5CB85F;
    width: 145px;
    height: 36px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin-top: 52px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
  }

  /* mulai sewa */

  /* content faq */
  #faq {
    height: 554px;
  }

  #faq .container {
    display: flex;
    padding-top: 100px;
  }

  #faq .item {
    margin-right: 132px;
    margin-left: 20px;
  }

  #faq h1 {
    color: #000000;
    width: 368px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
  }

  #faq p {
    color: #000000;
    width: 368px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }

  #faq .accordion {
    width: 100%;
  }

  #faq .accordion-item {
    margin-bottom: 16px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 4px;

    color: #000000;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }

  /* content faq */

  /* footer */
  #footer {
    height: 300px;
    justify-content: space-between;
  }

  #footer .container {
    display: flex;
    padding-top: 100px;
    margin-left: 75px;
  }

  #footer .item {
    margin-right: 80px;
  }

  #footer p {
    color: #000000;
    width: 268px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }

  #footer .nav-link {
    color: #000;
    width: 150px;
    padding-right: 25px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }

  #footer .nav-link:hover {
    color: #000000;
    font-weight: bold;
  }

  #footer .img_sosmed {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }

  #footer .logo_nav {
    width: 100px;
    height: 34px;
  }

  /* footer */

  @media (max-width: 768px) {
    #navbar {
      background-color: #f1f3ff;
      position: fixed;
      display: flex;
    }

    #sewa .container {
      flex-direction: column;
      width: 100%;
    }

    #faq {
      height: 554px;
    }

    #faq .container {
      flex-direction: column;
      padding-top: 100px;
      margin-bottom: 90px;
    }

    #faq .item {
      margin-right: 132px;
      margin-left: 10px;
    }

    #faq h1 {
      color: #000000;
      width: 368px;
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 36px;
    }

    #faq p {
      color: #000000;
      width: 368px;
      font-family: Helvetica;
      font-style: normal;
      font-weight: 200;
      font-size: 12px;
      line-height: 20px;
    }

    #faq .accordion {
      width: 65%;
    }

    #faq .accordion-item {
      margin-bottom: 16px;
      background: #FFFFFF;
      border: 1px solid #D4D4D4;
      box-sizing: border-box;
      border-radius: 4px;

      color: #000000;
      font-family: Helvetica;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
    }

    /* footer */
    #footer p {
      color: #000000;
      width: 268px;
      font-family: Helvetica;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
    }

    #footer .nav-link {
      color: #000;
      width: 150px;
    }

    #footer .nav-link:hover {
      color: #000000;
      font-weight: bold;
    }

    #footer {
      height: 324px;
    }

    #footer .container {
      flex-direction: column;
      margin-left: 2px;
      margin-top: 90px;
    }

    #footer .item {
      margin-bottom: 20px;
    }

    #footer .img_sosmed {
      width: 25px;
      height: 25px;
    }

    /* footer */
  }